doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/tagsinput/bootstrap-tagsinput-typeahead.css')
    link(rel='stylesheet', href='/tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/tagsinput/bootstrap-tagsinput.min.js')
    script(src='/tagsinput/bootstrap-tagsinput-angular.min.js')
