extends layout

block content
 form(method='post')
  .container
    .row
      h2 type your search here...
      #custom-search-input
        .input-group.col-md-12
          input.search-query.form-control(type='text', placeholder='Search...', name='query')
          span.input-group-btn
            button.btn.btn-info(type='submit')
              span.glyphicon.glyphicon-search
